<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SingleTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04D3A4D31C83D5840098A6B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04D3A4EC1C83D5840098A6B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04D3A4F71C83D5840098A6B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
